.intro {
  width: 100%;
  background-color: #0D0D0D	;
  padding: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-text {
  width: 100%;
  text-align: center;
}

.intro-text p {
  font-size: 3rem;
  line-height: 1.5;
  color: #F1FAEE;
  font-weight: 400;
  margin-bottom: 40px;
  display: inline-block;
}

/* Hide by default */
.fade-word {
  opacity: 0;
  transform: translateY(20px);
  display: inline-block;
}

/* Animate only when in view */
.fade-word.animate {
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
